{% extends 'base.html.twig' %}

{% block title %}Advent of Code 2017{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ path('day', {'number': 1}) }}">Day One</a></li>
        <li><a href="{{ path('day', {'number': 2}) }}">Day Two</a></li>
        <li><a href="{{ path('day', {'number': 3}) }}">Day Three</a></li>
        <li><a href="{{ path('day', {'number': 4}) }}">Day Four</a></li>
    </ul>
{% endblock %}
